/* Admin Form Section Styling */

/* admin section parent class to form section */
.admin-section {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* form section where the form is */
.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  background-color: #fce4ec;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}

.form-menu h1 {
  text-align: center;
  color: #333;
  font-size: 24px;
}

.form-menu label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #4caf50;
  outline: none;
}

textarea {
  resize: vertical;
}

/* buttons */
button {
  width: 100%;
  padding: 12px;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#request-button {
  background-color: orange;
}

#edit-button {
  background-color: #4caf50;
}

#delete-button {
  background-color: red;
}

button:hover {
  background-color: #45a049;
}

.ask-to-delete {
  background-color: #f2dede;
  padding: 15px;
  border: 1px solid #ebccd1;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
}

/* product listings */
.product-list {
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
}

.product-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-list button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  padding: 6px 12px;
  font-size: 14px;
  width: 120px;
  transition: background-color 0.3s ease;
}

.product-list button:hover {
  background-color: #d32f2f;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* For mobile responsiveness */
@media screen and (max-width: 768px) {
  .form-section {
    padding: 15px;
  }

  h1 {
    font-size: 20px;
  }

  input,
  select,
  textarea {
    font-size: 14px;
    padding: 8px;
  }

  button {
    font-size: 16px;
  }
}
