/* Styling for the Randomg Quote Component */
.quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  padding-top: 15px;
}

.quote-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
  width: 100%;
}

.author {
  font-size: 20px;
  color: #555;
  margin-top: 10px;
}

.famous-quote {
  font-size: 24px;
  font-style: italic;
  color: #333;
}
